@charset "UTF-8";
/*==========================
    PALETA DE COLORES
==========================*/
/*==========================
        RESETS
==========================*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/*==========================
    PALETA DE COLORES
==========================*/
/*==========================
        RESETS
==========================*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/*TITULO*/
.mainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; }
  .mainTitle img {
    width: 90%;
    max-width: 1500px; }

/*VIDEO*/
.trailer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

/*INTRODUCCION*/
.introduccion {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center; }
  .introduccion .introduccion__picture {
    flex-basis: 50%; }
    .introduccion .introduccion__picture img {
      width: 100%; }
  .introduccion .introduccion__article {
    flex-basis: 50%;
    align-self: center; }

/*MAIN FEATURES*/
.features {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .features .features__section {
    width: 85%;
    margin-top: 30px;
    display: flex;
    justify-content: center; }
    .features .features__section .features__section__image {
      flex-basis: 50%; }
    .features .features__section .features__section__text {
      flex-basis: 50%;
      align-self: center;
      padding: 0 60px 0 60px; }

/*EXPANSIONS*/
.expansions {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 45px; }
  .expansions .expansions__item {
    width: 320px; }
    .expansions .expansions__item h3 {
      color: #A6A4A4;
      text-align: center;
      margin: 0 0 13px 0; }
    .expansions .expansions__item img {
      width: 310px;
      height: 451px; }
    .expansions .expansions__item p {
      margin: 10px 0 0 0; }

/*Team cherry red logo*/
.icon {
  width: 100%;
  display: flex;
  justify-content: center; }
  .icon .icon__image {
    width: 70%;
    max-width: 580px; }

/*Introducción de los desarrolladores*/
.developers {
  display: flex;
  justify-content: center;
  width: 100%; }
  .developers .developers__content {
    flex-basis: 20%;
    padding: 0px 50px;
    margin: 10px;
    text-justify: newspaper; }
    .developers .developers__content h3 {
      color: #d81c34; }

/*Historia del equipo*/
.history {
  width: 100vw;
  display: flex;
  padding-left: 200px; }
  .history .history__text {
    margin-left: 50px;
    flex-basis: 50%;
    align-self: center; }
    .history .history__text h3 {
      text-align: left;
      color: #A6A4A4; }
    .history .history__text p {
      margin-top: 10px; }
  .history .history__photo {
    padding: 40px 20px 10px 20px;
    flex-basis: 50%;
    margin-left: 50px; }
    .history .history__photo img {
      width: 60%;
      height: auto; }

/*♥♥♥♥♥ MANUAL DEL JUEGO ♥♥♥♥♥*/
/*Primera parte del manual, con titulo e imagen*/
.manualIntro {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .manualIntro .manualIntro__title {
    font-size: 70px; }

/*Indice de contenidos*/
.indice {
  display: flex;
  justify-content: center; }

/*Introducción al juego*/
.gameIntro {
  width: 90%;
  margin: auto;
  height: 650px;
  background-image: url(../media/img/manual/introduction.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .gameIntro .gameIntro__text {
    width: 50%;
    margin: 50px;
    float: right; }

/*How to play*/
.howTo .howTo__intro {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around; }

.howTo .howTo__image {
  width: 80%;
  margin: auto; }

.howTo .howTo__descriptions {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between; }
  .howTo .howTo__descriptions .description {
    margin: 20px; }

html {
  font-size: 62.5%; }

body {
  background-image: linear-gradient(to right bottom, #000000, #010101, #030202, #040304, #050405, #080609, #09080e, #090a12, #0a0d18, #09101d, #061322, #011627); }

/*Clases para asignar formato a los textos*/
.titulo {
  color: #A6A4A4;
  font-size: 4rem;
  text-align: center; }

.subTitulo {
  color: #FFFBFF;
  font-size: 2.5rem; }

.smallText {
  color: #FFFBFF;
  font-size: 1.7rem; }

/*Divisor de secciones*/
.page-divider {
  display: flex;
  justify-content: center;
  margin-bottom: 25px; }

.page-divider img {
  width: 90%;
  overflow: hidden; }

/*Menú de navegación*/
.logo {
  width: 80px; }

/*Footer styles*/
footer {
  margin-top: 40px;
  text-align: center; }
