@import "base";

/*TITULO*/
.mainTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    img {
        width: 90%;
        max-width: 1500px;
    }
}

/*VIDEO*/
.trailer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*INTRODUCCION*/
.introduccion {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;

    .introduccion__picture {
        flex-basis: 50%;

        img {
            width: 100%;
        }
    }

    .introduccion__article {
        flex-basis: 50%;
        align-self: center;
    }
}

/*MAIN FEATURES*/
.features {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .features__section {
        width: 85%;
        margin-top: 30px;
        display: flex;
        justify-content: center;

        .features__section__image {
            flex-basis: 50%;
        }

        .features__section__text {
            flex-basis: 50%;
            align-self: center;
            padding: 0 60px 0 60px;
        }
    }
}

/*EXPANSIONS*/
.expansions {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 45px;

    .expansions__item {
        width: 320px;
        
        h3 {
            color: $quicksilver;
            text-align: center;
            margin: 0 0 13px 0;
        }

        img {
            width: 310px;
            height: 451px;
        }

        p {
            margin: 10px 0 0 0;
        }
    }
}