/*Galeria de Screenshots*/
@import "base";

.gallery {
    padding: 80px 0;

    img {
       background-color: white;
       padding: 5px;
       width: 100%;
    }
}

/*MANUAL DEL JUEGO*/

.indice{
    display: flex;
    justify-content: center;
}

/*How to play*/

.howTo__intro {
    margin: 20px;
    display: flex;
    justify-content: center;

    h2 {
        flex-basis: 40%;
        font-size: 40px;
    }

    p {
        padding-left: 50px;
        padding-right: 50px;
    }
    
}

.howTo__descriptions {
    margin: 20px;
    justify-content: space-around;
}